{
       "caminho": "caminho/do/arquivo/de/ia/de/voz",
       "ia": "caminho/do/arquivo/de/ia/de/voz",
       "rabbitmq_username": "123123",
       "rabbitmq_senha": "123123",
       "rabbitmq_host": "127.0.0.1"
}